{%- assign path = include.path | remove: ".jpg" | remove: ".jpeg" | remove: ".png" | remove: ".tiff" -%}
{%- if page.title == "about" -%}
<figure style="margin: 3px 10px 3px 0px"> 
{% else %}
<figure style="margin-top: inherit; margin-bottom: inherit;">
{% endif %}

  <picture>
    <!-- {% for i in site.imagemagick.widths -%}
      <source media="(max-width: {{ i }}px)" srcset="{{ path | relative_url }}-{{ i }}.webp" />
    {% endfor -%} -->

    <!-- Fallback to the original file -->
    <img {% if include.class %}class="{{ include.class }}"{% endif %} src="{{ include.path | relative_url }}" {% if include.alt %}alt="{{ alt }}"{% endif %} {% if include.title %}title="{{ title }}"{% endif %} {% if include.zoomable %}data-zoomable{% endif %} />
  </picture>

  {%- if include.caption -%}<figcaption class="caption">{{ include.caption }}</figcaption>{%- endif %}

</figure>
